page-bitcoin {
    ion-img{
        height: 100px;
        width: 100px;
        background: transparent;
    }
 
    ion-grid
    {
        margin-top: 30vh
    }
    
    h1{
        color:rgb(207,148,4)
    }
}
