<ion-content padding>
  <ion-grid>
    <ion-row justify-content-center margin-bottom>
      <ion-img src='../../assets/imgs/Bitcoin.svg.png'></ion-img>
    </ion-row>
    <ion-row justify-content-center margin-bottom>
        <h1>Base : Eur {{ConversionRate}}</h1>
        <p>The average price last week was : GBP 6000</p>
    </ion-row>
    <ion-row justify-content-center>
        <button ion-button icon-only round  outline (click)="RefreshRates()">
            <ion-icon name="refresh"></ion-icon>
          </button>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
  <ion-item>
    <ion-label>Currency</ion-label>
    <ion-select [(ngModel)]="Currency" (ionChange)="RefreshRates()">
      <ion-option value="GBP">GBP</ion-option>
      <ion-option value="USD">USD</ion-option>
      <ion-option value="AUD">AUD</ion-option>
      <ion-option value="EUR">EUR</ion-option>
      <ion-option value="TNR">TNR</ion-option>
    </ion-select>
  </ion-item>
</ion-footer>
